# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\sarthak maini\Dropbox\My PC (DESKTOP-AIDJQ7D)\Downloads\kharido and bechho\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
